<div class="flex justify-between mx-2">
  <div
    class="flex items-center justify-center py-1 text-center rounded-lg focus:outline-none"
  >
    <span class="self-center text-xs"
      >Seleccione con el puntero el lugar donde estampará la firma</span
    >
  </div>
  <div class="hidden md:flex">
    <span class="self-center text-xs">Nª Página</span>
    <div class="flex flex-row border h-8 w-22 rounded-lg mx-2">
      <button
        [disabled]="currentPage <= 1"
        (click)="goToPreviousPage()"
        class="border-r bg-slate-200 text-xs hover:bg-slate-100 w-6 flex rounded-l focus:outline-none cursor-pointer"
      >
        <span class="m-auto"><</span>
      </button>
      <input
        class="w-9 p-1 text-xs focus:outline-none text-center"
        [value]="currentPage"
        [max]="totalPages"
      />

      <button
        (click)="goToNextPage()"
        [disabled]="currentPage >= totalPages"
        class="border-l bg-slate-200 hover:bg-slate-100 h-full text-xs w-6 flex rounded-r focus:outline-none cursor-pointer"
      >
        <span class="m-auto">></span>
      </button>
    </div>

    <span class="self-center text-xs">/ {{ totalPages }}</span>
  </div>
</div>
<div
  class="flex justify-between mt-2 px-4 py-2 bg-indigo-100 border border-indigo-200 rounded-t-lg"
>
  <div class="flex items-center">
    <img class="w-6 h-6 mr-2 rounded-md" src="bot.png" alt="" />
    <p class="text-xs font-semibold">
      Visualizador PDF para estampado de firma
    </p>
  </div>
</div>
<div
  class="mx-auto w-full max-w-full bg-white border-b border-l border-r border-indigo-200"
>
  <!-- <div class="pdf-container" #pdfContainer>
    <canvas #pdfCanvas (click)="onCanvasClick($event)"></canvas>
  </div> -->

  <div class="canvas-container">
    <canvas
      #pdfCanvas
      class="pdf-canvas"
      (click)="onCanvasClick($event)"
    ></canvas>
    <div
      *ngIf="currentPosition"
      class="indicator-container"
      [style.left.px]="currentPosition.x"
      [style.top.px]="currentPosition.y"
    >
      <img
        src="https://services.abitmedia.cloud/images/estampar_aqui.png"
        alt="Indicador"
        class="indicator-image"
      />
    </div>
  </div>
</div>
