<div
  class="flex justify-between px-2 py-1 border border-[#0d4798]/30 rounded-t-lg border-b-0"
>
  <div
    class="flex items-center justify-center py-1 text-center rounded-lg focus:outline-none"
  >
    <span class="self-center text-xs"
      >Seleccione con el puntero el lugar donde estampará la firma</span
    >
  </div>
  <div class="hidden md:flex">
    <span class="self-center text-xs">Nª Página</span>
    <div class="flex flex-row h-6 mx-2 border-gray-950">
      <button
        [disabled]="currentPage <= 1"
        (click)="goToPreviousPage()"
        class="rounded-l btn-icon flex items-center justify-center"
      >
        <svg
          class="w-2 h-2 rtl:rotate-180 text-gray-600"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
      </button>
      <input
        class="w-9 p-1 h-6 rounded-none border text-xs focus:outline-none text-center"
        [value]="currentPage"
        [max]="totalPages"
      />

      <button
        (click)="goToNextPage()"
        [disabled]="currentPage >= totalPages"
        class="rounded-r btn-icon flex items-center justify-center"
      >
        <svg
          class="w-2 h-2 rtl:rotate-180 text-gray-600"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </button>
    </div>

    <span class="self-center text-xs">/ {{ totalPages }}</span>
  </div>
</div>
<div
  class="flex justify-between px-4 py-2 bg-[#0d4798]/10 border border-[#0d4798]/30"
>
  <div class="flex items-center">
    <img class="w-6 h-6 mr-2 rounded-md" src="bot.png" alt="" />
    <p class="text-xs font-semibold">
      Visualizador PDF para estampado de firma
    </p>
  </div>
</div>
<div
  class="mx-auto w-full max-w-full bg-white border-b border-l border-r border-[#0d4798]/30"
>
  <div class="pdf-container">
    <canvas #pdfCanvas (click)="onCanvasClick($event)"></canvas>

    <div class="indicator-overlay">
      <img
        #indicatorImage
        *ngIf="lastIndicatorPosition"
        [src]="'estampar.png'"
        class="indicator-image"
        [style.left.px]="lastIndicatorPosition.x"
        [style.top.px]="lastIndicatorPosition.y"
      />
    </div>
  </div>
  <div *ngIf="showWarningMessage" class="warning-message">
    No puede colocar la imagen fuera del canvas.
  </div>
  <!--  <canvas #pdfCanvas (click)="onCanvasClick($event)"></canvas>
  <div class="indicator-overlay" *ngIf="lastIndicatorPosition">
    <img
      [src]="'estampar.png'"
      class="indicator-image"
      [style.left.px]="lastIndicatorPosition.x"
      [style.top.px]="lastIndicatorPosition.y"
    />
  </div> -->
</div>
