<div class="flex min-w-0 flex-auto flex-col items-center">
  <div class="w-full max-w-xl">
    @if (option===1) {
    <app-title
      label="Firmar documento"
      description="El documento a firmar debe estar en formato .pdf"
    />
    <div class="mt-2 w-full p-4 bg-white rounded-b-lg shadow">
      <form [formGroup]="signerForm" class="space-y-2">
        <div class="grid grid-cols-1">
          <label class="font-semibold text-gray-500 text-sm"
            >Ingrese la cédula de la persona a firmar</label
          >
          <input formControlName="cedula" />
          <span class="text-slate-400 text-xs"
            >Ingrese el número de cédula sin el "-".</span
          >
        </div>
        <div class="grid grid-cols-1">
          <label class="font-semibold text-gray-500 text-sm mb-1"
            >Seleccione el documento a ser firmado</label
          >
          <app-upload (onUpload)="onUpload($event)" />
        </div>

        <div
          class="w-full rounded bg-green-300 border-green-500 border text-xs py-2 px-4"
        >
          <span>- No subir archivos que superen los 5MB</span> <br />
          <span>- Se debe subir solo archivos en formato A4</span>
        </div>

        <button
          type="button"
          [disabled]="signerForm.invalid"
          (click)="onSigner()"
          class="btn-primary mt-2"
        >
          Firmar
        </button>
      </form>
    </div>

    }@else if (option ===2) {
    <app-title
      label="Firmar documento"
      description="De clic sobre el espacio donde desea estampar su firma"
    />

    <div class="flex gap-x-2 mb-2">
      <button
        (click)="signer()"
        type="button"
        class="flex justify-center items-center btn-primary"
      >
        <span> Estampar firma </span>
      </button>
      <button
        (click)="reset()"
        type="button"
        class="flex justify-center items-center btn-default"
      >
        <span> Restablecer </span>
      </button>
    </div>
    <div class="grid bg-white mb-2 p-4 grid-cols-1 space-y-1 shadow">
      <label class="font-bold text-sm text-gray-500 tracking-wide"
        >Razón de la firma</label
      >
      <input />
    </div>
    <app-stamp-signature
      (onSignerPosition)="onPosition($event)"
      #signatureView
      [pdf]="pdfSrc"
    />
    }@else {
    <app-title
      label="Documento Firmado"
      description="De clic sobre el espacio donde desea estampar su firma"
    />

    <button
      class="btn btn-primary"
      id="btn-dowload"
      [disabled]="signerForm.enable"
      onclick="downloadDocument()"
    >
      Descargar
    </button>

    }
  </div>
</div>
